{%   extends  'base.html'  %}




{% block content %}


{% include 'navbar.html' %}


<div class="card mb-3">
    <div class="card-header">
      <i class="fa fa-table"></i> Update Patient Details </div>
    <div class="card-body">


    <h2>  </h2>
  
   
    <form action="{% url 'update-patient-details' %}" method="post">
        {% csrf_token %}  
  

  
  <div class="form-group"> 


   <input type="text" id="firstName" name="firstName" value="{{ firstName }}"  class="form-control"> </input> 


  
  <div class="row justify-content-center my-3 px-3">         
    <button type="submit" class="btn-block btn-color" >Update Patient Details </button>
  </div>
    
                    
  </form>
   
<h1> PATIENT DETAILS</h1>



</div>
<div class="card-footer small text-muted"></div>
</div>

{%  endblock  %}

